<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a</key>
	<string>1</string>
	<key>z</key>
	<string>2</string>
	<key>yo</key>
	<string>3</string>
	<key>g</key>
	<string>4</string>
	<key>azzyog</key>
	<string>5</string>
	<key>aye</key>
	<string>6</string>
	<key>yego</key>
	<string>7</string>
	<key>ayegore</key>
	<string>8</string>
	<key>y</key>
	<string>9</string>
	<key>e</key>
	<string>A</string>
	<key>o</key>
	<string>B</string>
	<key>r</key>
	<string>C</string>
	<key>azzyoge</key>
	<string>D</string>
</dict>
</plist>
