<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a</key>
	<string>а</string>
	<key>A</key>
	<string>А</string>
	<key>b</key>
	<string>б</string>
	<key>B</key>
	<string>Б</string>
	<key>v</key>
	<string>в</string>
	<key>V</key>
	<string>В</string>
	<key>g</key>
	<string>г</string>
	<key>G</key>
	<string>Г</string>
	<key>d</key>
	<string>д</string>
	<key>D</key>
	<string>Д</string>
	<key>e</key>
	<string>е</string>
	<key>E</key>
	<string>Е</string>
	<key>jo</key>
	<string>ё</string>
	<key>yo</key>
	<string>ё</string>
	<key>ö</key>
	<string>ё</string>
	<key>Jo</key>
	<string>Ё</string>
	<key>JO</key>
	<string>Ё</string>
	<key>YO</key>
	<string>Ё</string>
	<key>Ö</key>
	<string>Ё</string>
	<key>zh</key>
	<string>ж</string>
	<key>Zh</key>
	<string>Ж</string>
	<key>ZH</key>
	<string>Ж</string>
	<key>z</key>
	<string>з</string>
	<key>Z</key>
	<string>З</string>
	<key>i</key>
	<string>и</string>
	<key>I</key>
	<string>И</string>
	<key>j</key>
	<string>й</string>
	<key>J</key>
	<string>Й</string>
	<key>k</key>
	<string>к</string>
	<key>K</key>
	<string>К</string>
	<key>l</key>
	<string>л</string>
	<key>L</key>
	<string>Л</string>
	<key>m</key>
	<string>м</string>
	<key>M</key>
	<string>М</string>
	<key>n</key>
	<string>н</string>
	<key>N</key>
	<string>Н</string>
	<key>o</key>
	<string>о</string>
	<key>O</key>
	<string>О</string>
	<key>p</key>
	<string>п</string>
	<key>P</key>
	<string>П</string>
	<key>r</key>
	<string>р</string>
	<key>R</key>
	<string>Р</string>
	<key>s</key>
	<string>с</string>
	<key>S</key>
	<string>С</string>
	<key>t</key>
	<string>т</string>
	<key>T</key>
	<string>Т</string>
	<key>u</key>
	<string>у</string>
	<key>U</key>
	<string>У</string>
	<key>f</key>
	<string>ф</string>
	<key>F</key>
	<string>Ф</string>
	<key>h</key>
	<string>х</string>
	<key>x</key>
	<string>х</string>
	<key>H</key>
	<string>Х</string>
	<key>c</key>
	<string>ц</string>
	<key>C</key>
	<string>Ц</string>
	<key>ch</key>
	<string>ч</string>
	<key>Ch</key>
	<string>Ч</string>
	<key>CH</key>
	<string>Ч</string>
	<key>sh</key>
	<string>ш</string>
	<key>Sh</key>
	<string>Ш</string>
	<key>SH</key>
	<string>Ш</string>
	<key>shh</key>
	<string>щ</string>
	<key>w</key>
	<string>щ</string>
	<key>Shh</key>
	<string>Щ</string>
	<key>SHh</key>
	<string>Щ</string>
	<key>SHH</key>
	<string>Щ</string>
	<key>W</key>
	<string>Щ</string>
	<key>#</key>
	<string>ъ</string>
	<key>##</key>
	<string>Ъ</string>
	<key>y</key>
	<string>ы</string>
	<key>Y</key>
	<string>Ы</string>
	<key>&apos;</key>
	<string>ь</string>
	<key>&apos;&apos;</key>
	<string>Ь</string>
	<key>je</key>
	<string>э</string>
	<key>ä</key>
	<string>э</string>
	<key>Je</key>
	<string>Э</string>
	<key>JE</key>
	<string>Э</string>
	<key>Ä</key>
	<string>Э</string>
	<key>ju</key>
	<string>ю</string>
	<key>yu</key>
	<string>ю</string>
	<key>ü</key>
	<string>ю</string>
	<key>Ju</key>
	<string>Ю</string>
	<key>JU</key>
	<string>Ю</string>
	<key>Yu</key>
	<string>Ю</string>
	<key>YU</key>
	<string>Ю</string>
	<key>Ü</key>
	<string>Ю</string>
	<key>ja</key>
	<string>я</string>
	<key>ya</key>
	<string>я</string>
	<key>q</key>
	<string>я</string>
	<key>Ja</key>
	<string>Я</string>
	<key>JA</key>
	<string>Я</string>
	<key>Ya</key>
	<string>Я</string>
	<key>YA</key>
	<string>Я</string>
	<key>Q</key>
	<string>Я</string>
</dict>
</plist>
